---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Verkkokurssikassan Dokumentaatio">
   <main>
      <h1>Verkkokurssikassan Dokumentaatio</h1>
   </main>
</Layout>

<style></style>
